exportPattern("^[[:alpha:]]+")
importFrom("utils", "read.table","write.table")
importFrom('reticulate', 'source_python')
importFrom('celestial', 'dms2deg')
importFrom('EcotaxaTools', 'list_to_tib')
importFrom('lubridate', 'minutes')
