.footer {
    display: block;
    position: fixed;
    bottom: 18px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    z-index: 2;
  }

.container{
    display: flex;
}
.col p {
    flex: 1;
    font-size: medium;
}